name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: zongsoft
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: | 
          8.0.x
          9.0.x
          10.0.x

    - name: Install Zongsoft.Tools.Deployer
      run: dotnet tool install -g Zongsoft.Tools.Deployer

    - name: Install Cake.Tool
      run: dotnet tool install -g Cake.Tool

    - name: Make cake executable
      run: chmod +x ./cake.sh

    - name: Build & Test
      run: ./cake.sh
